{% extends 'list.html.twig' %}

{% block list_section %}
    <div class="row-list">
        <p class="header">Id</p>
        <p class="header">Nombre</p>
        <p class="header">Género</p>
        <p class="header">Dirección</p>
        <p class="header">Actores</p>
    </div>
    <ul class="film-list">
        <!-- Esta será más o menos la estructura de cada elemento de la lista
        <li class="film-list-item">
            <div class="row-list">
                <p class="element">element.id</p>
                <p class="element">
                    <a class="film-list-link" href="/pelicula/element.id">
                        element.name
                    </a>
                </p>
                <p class="element">element.genre</p>
                <p class="element">element.directors</p>
                <p class="element">element.actors</p>
            </div>
        </li>
        -->
    </ul>
{% endblock %}
