/*----------------------------------------------------------------------------*/
/* Contenido de la página en el main */


/* Bloque inicial */
main .information-block{
    padding:25px;
    display: grid;
    grid-template-areas: "information image";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
}

main .information{
    grid-area: information;
}

.information p {
    line-height: 1.6;
    text-wrap: wrap;
}
/*
.main-image-block {
    display:flex;
    flex-direction: column;
    text-align: center;
    
    grid-area: image;
    
    width: 200px;
    height: 250px;
    
    border-radius: 20px;
    padding:20px;
    margin-left:20px;
    
}

.caratula{
    height: 225px;
    flex-shrink: 0;
    border-radius: 20px;
}*/

#description-title{
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
}

main .sipnosis{
    font-size:0.9rem;
    text-align:justify;
    padding:25px;
    padding-top: 0;
}




/* Bloque para las imagenes del main al lado del texto */
main .film-image-blocks {
    display:flex;
    flex-direction: column;
    float:right;
    gap: 50px;
    padding:25px;
    margin-bottom: 20px;
}

.image-block{
    display:flex;
    flex-direction: column;
    text-align: center;
    
    width: 200px;
    height: 155px;
    
    
    padding:20px;
}

.film-image {
    width: 200px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 20px;
}

.image-footer{
    width: 200px;
    height: 25px;  
    margin:0;
    padding-top: 10px;
}




/* Bloque final */
main .film-footer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    gap:5vw;
    

    justify-content: center;
    align-items: center;
    justify-items: center;
    
    height: 70px;
    
    padding-bottom: 20px;
    
}

.logo-red-main {
    display: block;
    height: 70px;
    width: auto;
    border-radius: 10px;
}

.button{
    background-color: #373b41;
    color:white;

    border: 2px solid black;
    text-align: center;
    padding: 1rem 1.5rem;
    font-size: 1.23rem;
    border-radius: 10px;

    display: inline-block;
    text-decoration: none;
    box-shadow: 3px 3px 8px 0 #000000;
}

.button:hover{
    opacity:0.10;
    border: 2px solid white;
    background-color:#74777c;
    color: white;
    cursor: grab;
}


main {
    display:flex;
    flex-direction: row;
}


#comment-menu {
    /* De esta forma se carga la imagen de fondo desde el principio*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/fondo4.avif");
    background-size: cover;
    background-position: center;
}

#comment-button {
    margin-left: auto;
    margin-bottom: auto;
    height:50px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#comment-img {
    height:40px;
    width: 50px;
}


.unactive-menu {
    /* Escondemos el menú */
    height: 0;
    overflow: hidden;
}

.active-comments-menu {
    padding: 10px;
    margin: 20px;
    border: 2px solid rgb(84, 89, 99);
    border-radius: 10px;


    height: 900px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap:20px;
}



#comment-list {
    list-style-type:none;
    font-size: 1rem;
    padding:0;
    margin:0;
    
    padding:10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(84, 89, 99);
    border-radius: 10px;

    width: 350px;
    height: 75%;
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
}

#comment-list::-webkit-scrollbar{
    display: none;    
}

#comments-title {
    margin-bottom:5px;
}

/*Para cada comentario, tener en cuenta que tiene tanto autor, fecha y hora y texto*/
.comment {
    margin:5px;
    border: 1px solid rgb(84, 89, 99);
    border-radius: 10px;
    padding:10px;
}

#comment-form {
    padding: 10px;
    border: 2px solid rgb(84, 89, 99);
    border-radius: 10px;
    width: 350px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
}

#error-message {
    font-size: 0.9rem;
    color:red;
    padding:0;
    margin: 0;
}

.comment-text {
    text-wrap: wrap;
    word-wrap: break-word;
}

.comment-label {
    padding: 5px;
    padding-left: 0px;
    margin: 0px;
    font-size:1.1rem;
    font-weight: 600;
}